/*
Palete
Background: #202124
Divider1: #3c4043
Divider2: #5f6368
White: #ffffff
Box: #303134
Icon1: #9aa0a6
Icon2: #868b90
*/

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
  
[class*="col-"] {
    float: left;
    padding: 15px;
}

/* For mobile phones: */
@media only screen {
    .col-p-1 {width: 8.33%;}
    .col-p-2 {width: 16.66%;}
    .col-p-3 {width: 25%;}
    .col-p-4 {width: 33.33%;}
    .col-p-5 {width: 41.66%;}
    .col-p-6 {width: 50%;}
    .col-p-7 {width: 58.33%;}
    .col-p-8 {width: 66.66%;}
    .col-p-9 {width: 75%;}
    .col-p-10 {width: 83.33%;}
    .col-p-11 {width: 91.66%;}
    .col-p-12 {width: 100%;}

    .col-p-proj {width: 100%;}
}
  
/* For tablets: */
@media only screen and (min-width: 600px) {
    .col-t-1 {width: 8.33%;}
    .col-t-2 {width: 16.66%;}
    .col-t-3 {width: 25%;}
    .col-t-4 {width: 33.33%;}
    .col-t-5 {width: 41.66%;}
    .col-t-6 {width: 50%;}
    .col-t-7 {width: 58.33%;}
    .col-t-8 {width: 66.66%;}
    .col-t-9 {width: 75%;}
    .col-t-10 {width: 83.33%;}
    .col-t-11 {width: 91.66%;}
    .col-t-12 {width: 100%;}

    .col-t-proj {width: 75%;}
}

/* For desktop: */
@media only screen and (min-width: 768px) {
    .col-d-1 {width: 8.33%;}
    .col-d-2 {width: 16.66%;}
    .col-d-3 {width: 25%;}
    .col-d-4 {width: 33.33%;}
    .col-d-5 {width: 41.66%;}
    .col-d-6 {width: 50%;}
    .col-d-7 {width: 58.33%;}
    .col-d-8 {width: 66.66%;}
    .col-d-9 {width: 75%;}
    .col-d-10 {width: 83.33%;}
    .col-d-11 {width: 91.66%;}
    .col-d-12 {width: 100%;}

    .col-d-proj {width: 50%;}
}

.project {
    display: flex;
    background-color: #303134;
    margin-top: 10px;
    margin-bottom: 10px;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.title {
    color: #ffffff;
    margin-left: 20px;
    margin-top: 80px;
    font-size: 30px;
    font-weight: bold;
}

.logo {
    width: 200px;
    height: 200px;
}

.header {
    color: #ffffff;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.contactLeft {
    font-size: 20px;
    color: #ffffff;
    margin-left: 35%;
    float: left;
}

.contactRight {
    font-size: 20px;
    color: #ffffff;
    margin-right: 35%;
    float: right;
}